<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/jedid/Documents/selenium-public/.idea">
        <classes>
            <class name="org.example.TestClasses.BaseTestClass"></class>
        </classes>
    </test>
</suite>